link(rel='stylesheet', href='/stylesheets/about.css')
.view-body
  h1 About Me
  h2 Personal Objectives
  p
      | To utilize and grow my computer science knowledge through the creation of large-scale, general-audience products with adaptive problem solving, alongside future-thinking and open-minded professionals.
  h2 Goals
  div(class="col-sm-4 col-xs-12 goals")
    h3 Short-term
    p
      | I would like to finish my education and collaborate on projects with my peers.
  div(class="col-sm-4 col-xs-12 goals")
    h3 Mid-term
    p
      | After I graduate I would like to work for a company that will allow me to contribute to innovative products and services.
  div(class="col-sm-4 col-xs-12 goals")
    h3 Long-term
    p
      | I love to experiment with new technology. In the future I hope to use my talent to create open-source software to help the software developement community.
  h2 Education
  div(class="col-sm-4 col-xs-12 education")
    h3 Clarkson University
    ul
      li
        span(class="edu-attrib") Major
        | : Computer Science - GPA: 4.0
      li
        span(class="edu-attrib") Attended
        | : 2015-present
      li
        span(class="edu-attrib") Expected Graduation
        | : Spring 2017
  div(class="col-sm-4 col-xs-12 education")
    h3 SUNY Potsdam
    ul
      li
        span(class="edu-attrib") Major
        | : Computer Science - GPA: 3.78
      li
        span(class="edu-attrib") Attended
        | : 2013-2015
  div(class="col-sm-4 col-xs-12 education")
    h3 SUNY Canton
    ul
      li
        span(class="edu-attrib") Major
        | : Information Technology - GPA: 4.0
      li
        span(class="edu-attrib") Attended
        | : 2012-2013
