link(rel='stylesheet', href='/stylesheets/contact.sass')
div(class='view-body')
  h1 Contact Me
  p Like what you see and want to learn more? You can find out more about me using any of the links below.
  ul(class="list-inline list-unstyled")
      li
        a(href="https://www.linkedin.com/in/hunter-quant")
          i(class="fa fa-5x fa-linkedin-square")
      li
        a(href="https://www.github.com/hunterdquant")
          i(class="fa fa-5x fa-github-square")
      li
        a(href="mailto:hunterdquant@gmail.com")
          i(class="fa fa-5x fa-envelope")
