link(rel='stylesheet', href='/stylesheets/projects.css')
div(class='view-body')
  h1 My Projects
  p I love writing code. Below you'll find information about projects I've worked on.
  .project
    h2 Carbon Nation Alpha
    p Carbon Nation is a game about a guy seeking revenge against homeland intruders. This version of the game is a prototype for the planned mobile release. This prototype is written in Javascript and WebGL and was created during CS452 at Clarkson University.
    a(href="https://github.com/hunterdquant/CarbonNationAlpha")
      button(type="button", class="source-button btn btn-lg", name="button") Source
  .project
    h2 Beat Blocks Alpha
    p Beat Blocks is a rhythm-puzzle game for the Android platform. This game was made during CS242 at Clarkson University. The game was written in Java using the standard Android SDK.
    a(href="https://github.com/hunterdquant/BeatBlocksAlpha")
      button(type="button", class="source-button btn btn-lg", name="button") Source
  .project
    h2 Somers Hot Bagels App
    p This is a Android application for a client's bagel shop. The application was made during CS459 at Clarkson University.
    a(href="https://github.com/hunterdquant/SomersHotBagels")
      button(type="button", class="source-button btn btn-lg", name="button") Source
  .project
    h2 RotateJS
    p RotateJS is a Javascript API designed to make it easy for people to rotate images and videos on a cube.
    a(href="https://github.com/hunterdquant/RotateJS")
      button(type="button", class="source-button btn btn-lg", name="button") Source
  .project
    h2 Terminal Zone
    p Terminal Zone is a FPS about recovering lost data. The game was made during a game development course at SUNY Potsdam. The game is written in Python using the game engine Panda3D.
    a(href="https://github.com/hunterdquant/TerminalZone")
      button(type="button", class="source-button btn btn-lg", name="button") Source
