link(rel='stylesheet', href='/stylesheets/skills.css')
.view-body
  h1 My Skillz
  .row.row-eq-height
    .col-sm-4.col-xs-6.col-height.skills
      h3
        span(class="skill-names") Java -
          span(class="skill-ranks")
            |  9/10
      p Creation of multiple programs including Android applications.
    .col-sm-4.col-xs-6.col-height.skills
      h3
        span(class="skill-names") Git -
          span(class="skill-ranks")
            |  9/10
      p Used for all projects.
    .col-sm-4.col-xs-6.col-height.skills
      h3
        span(class="skill-names") Linux -
          span(class="skill-ranks")
            |  8/10
      p Used as my primary operating system.
  .row.row-eq-height
    .col-sm-4.col-xs-6.col-height.skills
      h3
        span(class="skill-names") Python -
          span(class="skill-ranks")
            |  7/10
      p Created a FPS in a team of 6.
    .col-sm-4.col-xs-6.col-height.skills
      h3
        span(class="skill-names") Javascript -
          span(class="skill-ranks")
            |  7/10
      p Used in a few sites. WebGL programs.
    .col-sm-4.col-xs-6.col-height.skills
      h3
        span(class="skill-names") Public Speaking -
          span(class="skill-ranks")
            |  8/10
      p Lightning talks and in-class presentations.
  p See more on
    a(class='link' href="https://www.linkedin.com/in/hunter-quant-b3a34bb5")
      |  LinkedIn
