extends layout

block content
  img(src="images/logo_white.svg")
  header
    h1= title
    p This is the story of two friends. Two friends who would stand the test of time and triumph over adversity. Then dye.
