extends layout
block content
  link(rel='stylesheet', href='/stylesheets/home.css')
  include header.pug
  div(id='main' class='center')
    div(class='quote-container container')
      p(id='quote')
      p(id='author')
