link(rel='stylesheet', href='/stylesheets/nav.css')
nav(class='container container-fluid container-underlined center')
  ul(class='nav nav-pills nav-justified list-inline')
    li
      a(class='view-pill hoverable', href='#/about') About Me
    li
      a(class='view-pill hoverable', href='#/skills') My Skills
    li
      a(class='view-pill hoverable', href='#/projects') My Projects
    li
      a(class='view-pill hoverable', href='#/contact') Contact Me
