@import '_fonts'

// Font variables
$glacial-stack: Glacial, Helvetica, sans-serif
$raleway-stack: Raleway, serif

// Color variables
$background-color: #2F2F2F
$light-font-color: #E3E3E3
$primary1: #268BD2
$primary2: #73B5E4
$primary3: #499EDA
$primary4: #097ACA
$primary5: #06568F

// typesettings
$font-sans: Glacial, Helvetica, Arial, sans-serif
$font-serif: Raleway, 'Times New Roman', serif
$text-color: $light-font-color
$base-vertical-unit: 6px
$base-line-multi: 4
$base-font-size: 16px
$ms-ratio: 1.414
$paragraph-indent: true
$paragraph-justify: true
$load-typesetted: true
