@import '_variables'

header
  border-bottom: 1px solid $primary4

  #logo
    display: block
    width: 32vh
    height: 32vh

  #name
    font-size: 3.5em
    color: $primary1

  #header-text
    margin-top: -32px
    color: $light-font-color
    text-align: center
