@import '_variables'

.header-text

header
  border-bottom: 1px solid $primary4

  #logo
    display: block
    width: 32vh
    height: 32vh

  #name
    font-size: 3.5em

  #header-text
    margin-top: -32px
    text-align: center
