@charset "UTF-8";
@font-face {
  font-family: Glacial;
  src: url("../fonts/glacialindifference-bold-webfont.woff2") format("woff2");
  src: url("../fonts/glacialindifference-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: bold; }
@font-face {
  font-family: Glacial;
  src: url("../fonts/glacialindifference-italic-webfont.woff2") format("woff2");
  src: url("../fonts/glacialindifference-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: Glacial;
  src: url("../fonts/glacialindifference-regular-webfont.woff2") format("woff2");
  src: url("../fonts/glacialindifference-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Raleway;
  src: url("../fonts/raleway-bold-webfont.woff2") format("woff2");
  src: url("../fonts/raleway-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: bold; }
@font-face {
  font-family: Raleway;
  src: url("../fonts/raleway-italic-webfont.woff2") format("woff2");
  src: url("../fonts/raleway-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: Raleway;
  src: url("../fonts/raleway-regular-webfont.woff2") format("woff2");
  src: url("../fonts/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Glacial;
  src: url("../fonts/GlacialIndifference-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: bold; }
@font-face {
  font-family: Glacial;
  src: url("../fonts/GlacialIndifference-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: Glacial;
  src: url("../fonts/GlacialIndifference-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: bold; }
@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
html {
  font-size: 100%; }

body {
  margin: 0;
  padding: 0;
  line-height: 1.5; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: Raleway, "Times New Roman", serif;
  font-weight: 400;
  color: #E3E3E3; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-family: Glacial, Helvetica, Arial, sans-serif;
  font-weight: bold; }

h1, .h1 {
  margin-bottom: 0.18756em;
  font-size: 1.9994em;
  line-height: 1.12534; }
  @media (min-width: 43.75em) {
    h1, .h1 {
      margin-bottom: 0.13264em;
      font-size: 2.82715em;
      line-height: 1.06114; } }
  @media (min-width: 56.25em) {
    h1, .h1 {
      margin-bottom: 0.09381em;
      font-size: 3.99758em;
      line-height: 0.93807; } }

h2, .h2 {
  margin-bottom: 0.26521em;
  font-size: 1.414em;
  line-height: 1.32603; }
  @media (min-width: 43.75em) {
    h2, .h2 {
      margin-bottom: 0.18756em;
      font-size: 1.9994em;
      line-height: 1.12534; } }
  @media (min-width: 56.25em) {
    h2, .h2 {
      margin-bottom: 0.13264em;
      font-size: 2.82715em;
      line-height: 1.06114; } }

h3, .h3 {
  margin-bottom: 0.26521em;
  font-size: 1.414em;
  line-height: 1.32603; }
  @media (min-width: 56.25em) {
    h3, .h3 {
      margin-bottom: 0.18756em;
      font-size: 1.9994em;
      line-height: 1.12534; } }

h4, .h4 {
  margin-bottom: 0.26521em;
  font-size: 1.414em;
  line-height: 1.32603; }

h5, .h5,
h6, .h6 {
  margin-bottom: 0.375em;
  font-size: 1em;
  line-height: 1.5; }

p {
  margin-top: 0;
  margin-bottom: 1.5em;
  padding-top: 0;
  padding-bottom: 0;
  max-width: 36em; }

p + p {
  margin-top: -1.5em;
  text-indent: 1.5em; }

small,
.font-small {
  font-size: 0.70721em;
  line-height: 1.59075; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

blockquote {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1.5em;
  border-left: 6px solid gray;
  font-family: Raleway, "Times New Roman", serif; }
  blockquote p {
    margin-bottom: 0.75em; }
  blockquote footer cite:before {
    content: " – "; }

pre,
code {
  font-family: "Lucida Console", Monaco, monospace; }

time,
.time {
  text-transform: uppercase; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1.5em;
  margin-left: 1.5em;
  padding-top: 0;
  padding-bottom: 0; }

ul ul,
ol ol,
dl dl {
  margin-left: 0; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

abbr {
  font-variant: small-caps;
  font-weight: 600;
  text-transform: lowercase; }

abbr[title]:hover {
  cursor: help; }

hr {
  margin-top: 1.5em;
  margin-bottom: 0;
  border: none;
  border-top-color: #E3E3E3;
  border-top-style: solid;
  border-top-width: 1px;
  padding-top: 1.4375em; }

body {
  width: 100%;
  height: 100%;
  background-color: #2F2F2F;
  padding: 50px; }

a {
  color: #499EDA;
  text-decoration: none; }

a:hover {
  color: #097ACA;
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: Glacial, Helvetica, sans-serif;
  font-weight: bold; }

p {
  font-family: Raleway, serif;
  font-weight: normal;
  font-size: 1.75em;
  color: #E3E3E3; }

.center {
  display: block;
  margin: 0 auto; }

.container-underlined {
  border-bottom: 2px solid #097ACA; }

.view-body {
  padding: 0;
  margin-top: 20px; }

.view-fade {
  padding: 0;
  margin: 0; }

.animation-container {
  position: relative; }

.view-fade.ng-enter {
  position: absolute;
  transition: all 1.5s;
  opacity: 0;
  left: -100%; }

.view-fade.ng-enter-active {
  transition: all 1.5s;
  position: absolute;
  opacity: 1;
  left: 15px; }

.view-fade.ng-leave {
  transition: all linear 1s;
  position: absolute;
  opacity: 1;
  left: 15px; }

.view-fade.ng-leave-active {
  transition: all linear 1s;
  position: absolute;
  opacity: 0;
  left: 100%; }

/*# sourceMappingURL=master.css.map */
