@import '_variables'
@import '../bower_components/typesettings/_typesettings'

body
  width: 100%
  height: 100%
  background-color: $background-color
  padding: 50px

a
  color: #00B7FF

h1, h2, h3, h4, h5, h6
  font-family: $glacial-stack
  font-weight: bold

p
  font-family: $raleway-stack
  font-weight: normal
  font-size: 1.75em
  color: $light-font-color

.center
  display: block
  margin: 0 auto
