@import '_variables'
@import '../bower_components/typesettings/_typesettings'

body
  width: 100%
  height: 100%
  background-color: $background-color
  padding: 50px

a
  color: #00B7FF

h1, h2, h3, h4, h5, h6
  font-family: $glacial-stack
  font-weight: bold

p
  font-family: $raleway-stack
  font-weight: normal
  font-size: 1.75em
  color: $light-font-color

.center
  display: block
  margin: 0 auto

.container-underlined
  border-bottom: 2px solid $primary4

.view-body
  padding: 0
  margin-top: 20px

.view-fade
  padding: 0
  margin: 0

.animation-container
  position: relative

.view-fade.ng-enter
  position: absolute
  transition: all 1.5s
  opacity: 0
  left: -100%

.view-fade.ng-enter-active
  transition: all 1.5s
  position: absolute
  opacity: 1
  left: 15px

.view-fade.ng-leave
  transition: all linear 1s
  position: absolute
  opacity: 1
  left: 15px
  width: 100%

.view-fade.ng-leave-active
  transition: all linear 1s
  position: absolute
  opacity: 0
  left: 100%
  width: 100%
